@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-one {
    background-color: #1F2937;
    padding: 0 230px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 24px;
}

.links a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 0;
}

.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.sub-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 18px;
}

.sign-up {
    background-color: #3882F6;
    font-size: 18px;
    color: #F9FAF8;
    font-weight: bold;
    border: 1px solid #3882F6;
    border-radius: 8px;
    padding: 8px 32px;
}

.image {
    background-color: lightgray;
    color: #E5E7EB;
}